student{
	display: block;
	margin-top:20px;
	color: darkgrey;
}
usn{
	display: block;
	margin-left: 10px;
	font-size: 14pt;
	color: red;
}
name{
	display: block;
	margin-left: 10px;
	font-size: 14pt;
	color: green;
}
college{
	display: block;
	margin-left: 10px;
	font-size: 14pt;
	color: maroon;
}
branch{
	display: block;
	margin-left: 10px;
	font-size: 14pt;
	color: grey;
}
year{
	display: block;
	margin-left: 10px;
	font-size: 14pt;
	color: blue;
}
e-mail{
	display: block;
	margin-left: 10px;
	font-size: 14pt;
	color: orange;
}